/* START General containers */
.countdownheader{
    text-align: center;
}
.countdownbody{
    text-align: -webkit-center;
}
.outlinecountdown{
    display: flex;
    border: 1px solid black;
    width: 18%;
    height: 4rem;
    justify-content: center;
}
/* END General containers */

/* START day elements */
.days{
    align-self: center;
}
.daysnum{
    font-size: 23px;
}
.daystext{
    font-family: roboto;
    font-style: oblique;
}
/* END day elements */

/* START hours elements */
.hours{
    align-self: center;
}
.hoursnum{
    font-size: 23px;
}
.hourstext{
    font-family: roboto;
    font-style: oblique;
}
/* END hours elements */

/* START minutes elements */
.minutes{
    align-self: center;
}
.minutesnum{
    font-size: 23px;
}
.minutestext{
    font-family: roboto;
    font-style: oblique;
}
/* END minutes elements */

/* START seconds elements */
.seconds{
    align-self: center;
}
.secondsnum{
    font-size: 23px;
}
.secondstext{
    font-family: roboto;
    font-style: oblique;
}
/* END seconds elements */

/* START separators elements */
.separatorone{
    margin: .8rem; 
}
.separatortwo{
    margin: .8rem; 
}
.separatorthree{
    margin: .8rem; 
}
/* END separator elements */

